---
import { pb } from "../backend";

export const prerender = false;

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const email = data.get("email") as string;
    const password = data.get("password") as string;
    console.log({ email, password });
    await Astro.locals.pb;
    // Faire quelque chose avec les données
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<form method="post">
  <label>Mot de passe : <input type="password" name="password" /></label>
  <label>Email : <input type="email" name="email" /></label>
  <button>Envoyer</button>
</form>
